# Python
__pycache__/ *.pyc *.egg-info/ dist/ .venv/ poetry.lock

# Docker/Compose
.docker/ *.pid

# Ollama/ES data
*.db *.wal data/ ollama_models/

# Secrets/Local configs
.env.local *.key *.pem .vscode/ .idea/

# OS
.DS_Store Thumbs.db
